<h1>TP 4 bis - mi pagina de paises</h1>
<br>
<br>
<h3>Nombre: @ViewBag.PaisBuscado.Nombre</h3> <br>
<h3>Poblacion: @ViewBag.PaisBuscado.Poblacion</h3> <br>
<h3>Fecha de independencia: @ViewBag.PaisBuscado.FechaIndependencia</h3> <br>
<h3>Lugar para visitar: @ViewBag.PaisBuscado.AtractivosTuriscticos</h3> <br>
<img src="/imagenes/@ViewBag.Paisbuscado.imgBandera" width="25%" height="25%">
